


<!--The content below is only a placeholder and can be replaced.-->
<div class ="row" style="text-align:center; 
   background-color:rgb(88, 88, 241); color:coral">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>

 <a routerLink='login' style="color:red">Login</a>
 <a routerLink="lifecycleparent">Life cycle learn</a>

 <div class="container">
    <div class = "row" style="height: 100%">
    
      <div class="col-sm-9 col-md-6 col-lg-8" 
        style="background-color:rgb(172, 169, 218);
        padding-left: 30px; width: 70%; height: 100%;">

        <app-emplist></app-emplist>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>


<!--  
  <app-learnts></app-learnts>
  <app-databinding [customInputAttr]='passToChild'></app-databinding>
-->
<!-- <div class ="row" style="background-color: lightsalmon;
    padding-left: 30px; height:40%">
<app-emplist></app-emplist>
</div>
<hr style="border:1px; border-style: solid; border-color: darkblue">
<div class ="row" style="background-color: lightsalmon;
    padding-left: 30px;">

<app-emplist></app-emplist>
</div> 

<app-empcalc></app-empcalc>

<app-directives></app-directives>
<router-outlet></router-outlet>
 -->






<!--The content below is only a placeholder and can be replaced.-->

<!--
<div class = "row" style="text-align:center;
            background-color: aqua">
  <h1>
    Welcome to {{ title }}!
    This is Angular learning
    Unbeat77
  </h1>
  <button class = "btn btn-primary">BootStrap</button>
</div>
<hr>

  <app-learnts></app-learnts>

<div class = "row" style ="text-align: center;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color:rgba(51, 180, 255, 0.815)">
<app-databinding [customInputAttr] = 'passToChild'></app-databinding>
  <hr>
  </div>
  <app-emplist></app-emplist>
  <hr>
  <app-menu></app-menu>

<router-outlet></router-outlet>
-->

