Using Html class attribute:
<button class="colorClass">My Button</button><br>

Normal Button: 
<button style="color:red">My Button</button><br>


  Using property binding:
  <button class='colorClass' [class]='classesToApply'>My Button</button><br>

true or false condition:
  <button class='colorClass' 
   [class.boldClass]='applyBoldClass'>
      My Button </button> <br>
Using ANGULAR ngClass DIRECTIVE:
      <button [ngClass]='addClassess()'>
         My Button </button> <br>

  Using property binding of angular:
  <button style="color:rgb(39, 172, 39);" 
      [style.font-weight]="isBold ? 'bold' : 'normal'">
      My button </button><br/>
  Using NgStyle Directive:
    <button style='color:rgb(55, 233, 108); background-color: black; font-family: godblessamerica' 
      [ngStyle]="addStyles()">My Button</button><br>