<h2 style="color: #11EECD">New Employee - Template Driven</h2>
 
<form #empForm="ngForm" (ngSubmit)= "OnSubmit(empForm)" style="color: #11EECD">
<div>
    <div class="form-group">
        <label for="code">Employee code:</label>
        <input type="text" class="form-control"
          [(ngModel)] = "newEmp.code" name="code"
          #code="ngModel"
          minlength="4"
        required>
      <div style="font-size: 70%; font-style: oblique ">
        <span *ngIf="code.invalid && code.touched" style="color:red">
          <div *ngIf = "code.errors.required">
            Code is required..
          </div>
          <div *ngIf="code.errors.minlength" style="color:red">
          Minimum 4 char needed
          </div>
        </span>
      </div> 
    </div>
  <div class="form-group">
    <label for="empname">Employee Name:</label>
    <input type="text" class="form-control" 
      [(ngModel)] = "newEmp.name" name="empname"
      #empname="ngModel"
    required>
    <span *ngIf="empname.invalid && empname.touched" style="color:red">
      Name Required
    </span>
    </div>  

  <div class="form-group">
      <label for="annualsalary">Annual Salary:</label>
      <input type="number" class="form-control"
        [(ngModel)] = "newEmp.annualSalary" name="empsal"
        #empsal="ngModel"
      required>
      <span *ngIf="empsal.invalid && empsal.touched" style="color:red">
        Salary Required
      </span>
  </div>

  <div class="form-group">
      <label for="dateOfBirth">Date Of Birth:</label>
      <input type="Date" class="form-control" 
        [(ngModel)] = "newEmp.dateOfBirth" name="dateOfBirth"
        #dateOfBirth="ngModel" (blur)="checkDob(dateOfBirth)"
      required>
      <span *ngIf="dateOfBirth.invalid && dateOfBirth.touched" style="color:red">
        DOB Required
      </span>
      <span style="color:red">{{dobErr}}</span>
  </div>
</div>

Gender: <br>
 <input type="radio" name="gender" value="male" 
    [(ngModel)] = "newEmp.gender" 
      value="male"
  checked> Male <br>
  <input type="radio" name="gender"  value="female"
    [(ngModel)] = "newEmp.gender"
      value="female" 
  checked>Female<br>

<button type="submit" [disabled]="empForm.invalid" class="btn btn-primary"> 
  Add Employee </button>
</form>
<body>
  Angular Generated Form Model:{{empForm.value | json }}
</body>