<!--The content below is only a placeholder and can be replaced.-->
<body>
  <div style="text-align:center; height: 75px">
    <img align="left" src="../assets/HexaLogo.png" height="100px" alt="hexalogo"
      style="left:50px; background-blend-mode: saturation; position: relative">
    <img align="right" src="../assets/Capture.PNG" height="100px" alt="footer"
      style="background-blend-mode: saturation; position: relative">
    <h1 style="position: relative; top: 30%; font-family: Cambria, Cochin, Georgia, Times, 
              'Times New Roman', serif; text-align: center">
      <b>{{title}}</b>
    </h1>
  </div>
  <br>
</body>
<hr>
<router-outlet></router-outlet>