<!--

<button routerLink="/createemployee" style="background-color: black; color: yellowgreen">Create Employee</button><br>

<table class = "table table-bordered table-hover "
style="background-color: black; color:greenyellow">
  <thead>
      <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Gender</th>
          <th>Annual Salary</th>
          <th>Date of Birth</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor='let employee of employees'>
          <td><a [routerLink]="['/employee',employee.code]" style="color: greenyellow">
                {{employee.code}}</a></td>
          <td>{{employee.name |employeeTitle.employee.gender|uppercase}}</td>
          <td>{{employee.gender}}</td>
          <td>{{employee.annualSalary}}</td>
          <td>{{employee.dateOfBirth | date:fullDate}}</td>
      </tr>
      <tr *ngIf="!employees || employees.length==0">
          <td colspan="5">
              No employees to display
          </td>
      </tr>
  </tbody>
</table>

<button (click) = 'addEmployees()'>Add Emp</button>
-->
<div>
<mat-table [dataSource] = "dataSource">
    <ng-container matColumnDef="code">
        <mat-header-row *matHeaderRowDef="displayedColumns"> Employee Code </mat-header-row>
        <mat-row *matRowDef="let employee"> {{employee.code}} </mat-row> 
      </ng-container>

<!--     <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef="displayedColumns"> Employee Name </th>
        <td mat-cell *matCellDef="let employee"> {{employee.name}} </td>
      </ng-container> -->


    </mat-table>
</div>